{{- /*
  
Displays a set of SM-like step chart notation.

Most basic example usage:

```stepchart

0001
2000
3001
1001
```

Available attributes:

quantization= 4 | 8 | 16 (default 4)
xmod= number (default = 1)
stepstype= "dance-single" | "dance-double" (default "dance-single")
animate= true | false (default false)
maxvisiblerows= number (default 0 = "no limit") (this only sort of works)
size= number (default = 64)
showstage true | false (default false)

If you want to display foot placement, include that after the row, like:

```stepchart

0001 R
2000 L
3001 LR
1001 LR

```

Expected values are 
L = left heel (or just "left foot" in general)
l = left toes
R = right heel (or just "right foot" in general)
r = right toes

In an ideal world, this will display foot placement on a dance stage when animate=true

  */ -}}
{{- $content := .Inner -}}
{{- $id := printf "sc-%s" (crypto.SHA1 (string math.Rand )) -}}
{{- $attributes := .Attributes |jsonify  -}}

<div  id="{{$id}}" class="sc-main-wrapper">
{{ `<script>` | safeHTML }}

(() =>{
  setTimeout(()=>{
  const content = `{{ $content }}`;
const sch = new StepchartDisplay("{{$id}}", content, {{ $attributes }} );
  }, 1000);
})();

{{ `</script>` | safeHTML }}
</div>