:root {
  --arrow-size: 64px;
  --column-count: 4;
}
.step-chart-container
{
  position: relative;
  width: calc(var(--arrow-size) * var(--column-count));
  overflow: hidden;
}

.sc-header
{
  display: flex;
}

.sc-receptor {
  background-image: url('/images/stepcharts/receptor.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--arrow-size);
  height: var(--arrow-size);
}

.sc-receptor.left {
  transform: rotate(0deg);
}

.sc-receptor.down {
  transform: rotate(270deg);
}

.sc-receptor.up {
  transform: rotate(90deg);
}

.sc-receptor.right
{
  transform: rotate(180deg);
}

.sc-row 
{
  display: flex;
  height: var(--arrow-size);
}

.sc-body.quantization-8 .sc-row:not(:first-child)
{
  margin-top: calc(var(--arrow-size) / -2);
}

.sc-body.quantization-16 .sc-row:not(:first-child)
{
  margin-top: calc(var(--arrow-size) * -0.75);
}


.sc-arrow
{
  width: var(--arrow-size);
  height: var(--arrow-size);
  position: absolute;
}


.sc-arrow::before
{
  content: attr(data-foot);
  position: absolute;
  display: block;
  bottom: 0px;
  right: 0px;
}

/* Tap Arrows */

.sc-arrow-sprite
{
  width: var(--arrow-size);
  height: var(--arrow-size);
  background-position: 0px 0px;
  background-size: calc(var(--arrow-size) * 4);
  z-index: 1;
}

.sc-arrow.left .sc-arrow-sprite
{
  transform: rotate(90deg);
}

.sc-arrow.down .sc-arrow-sprite
{
  transform: rotate(0deg);
}

.sc-arrow.up .sc-arrow-sprite
{
  transform: rotate(180deg);
}

.sc-arrow.right .sc-arrow-sprite
{
  transform: rotate(270deg);
}

.step-chart-container.animate .sc-arrow-sprite
{
  animation: arrow-animation-x 0.5s steps(4) infinite, arrow-animation-y 2s steps(4) infinite;
}

.beat-subdivision-4th .sc-arrow-sprite
{
  background-image: url('/images/stepcharts/Down Tap Note 4th 4x4.png');
}

.beat-subdivision-8th .sc-arrow-sprite
{
  background-image: url('/images/stepcharts/Down Tap Note 8th 4x4.png');
}

.beat-subdivision-12th .sc-arrow-sprite
{
  background-image: url('/images/stepcharts/Down Tap Note 12th 4x4.png');
}

.beat-subdivision-16th .sc-arrow-sprite
{
  background-image: url('/images/stepcharts/Down Tap Note 16th 4x4.png');
}

@keyframes arrow-animation-x
{
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--arrow-size) * -4);
  }
}

@keyframes arrow-animation-y
{
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: calc(var(--arrow-size) * -4);
  }
}

/* Holds */

.sc-arrow.note-type-H
{
  z-index: -1;
}

.sc-arrow.note-type-3
{
  z-index: -2;
}

.sc-hold-head
{
  display: block;
  position: absolute;
  width: var(--arrow-size);
  height: (var(--arrow-size) / 2);
  bottom: 0px;
  background-image: url("/images/stepcharts/hold-body.png");
  background-size: cover;
  z-index: -1;
}

.sc-hold-body
{
  display: block;
  width: var(--arrow-size);
  height: var(--row-spacing);
  background-image: url("/images/stepcharts/hold-body.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.sc-hold-tail
{
  width: var(--arrow-size);
  height: var(--arrow-size);
  background-image: url("/images/stepcharts/hold-tail.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/* sc-arrow-type-2 = hold head */


/* sc-arrow-type-3 = hold/roll tail */

/* sc-arrow-type-4 = roll head */

/* sc-arrow-type-M = mine */

.sc-mine-sprite
{
  width: var(--arrow-size);
  height: var(--arrow-size);
  background-image: url("/images/stepcharts/mine.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.step-chart-container.animate .sc-mine-sprite
{
  animation: mine-rotate 4s steps(32) infinite;
}

@keyframes mine-rotate
{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}